<h3><%= "Edit Bulk Discount Details: ID ##{@bulk_discount.id}" %></h3>

<section id="form">
<%= form_with model: @bulk_discount, url: merchant_bulk_discount_path(@merchant, @bulk_discount), method: :patch, local: true do |f| %>
  <p><%= f.label :discount %>
  <%= f.text_field :discount, value: @bulk_discount.discount %></p>

  <p><%= f.label :min_quantity %>
  <%= f.number_field :min_quantity, value: @bulk_discount.min_quantity %></p>

  <p><%= f.submit :submit %></p>
<% end %>
</section>
